body {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    
}

.container {
    display: flex;
    width: 350px;
    border: 2px solid black;
    padding: 20px;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #c0c0c0;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#screen {
    display: flex;
    background-color: white;
    border: 1px solid black;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px;
    align-items: end;
    border-radius: 10px;
}

.firstScreen {
    min-height: 30px;
    font-size: 20px;
}

.secondScreen {
    min-height: 45px;
    font-size: 35px;
}

.allButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    flex: auto;
}

.btn {
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.clear {
    padding: 20px;
    background-color: #ff6666;
}

.delete {
    padding: 20px;
    background-color: #66b2ff;
}

.span-2 {
    grid-column: span 2;
}

button {
    font-size: large;
    border: 1px solid black;
    border-radius: 10px;
}