#screen {
    display: flex;
    border: 1px solid black;
    width: 400px;
    height: 50px;
    flex-direction: column;
}

.firstScreen {
    height: 25px;
    background-color: aqua;
}

.secondScreen {
    background-color: blueviolet;
    height: 25px;
}